# -------------------------------
# 🐍 Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.whl
*.egg-info/

# -------------------------------
# 🧪 Virtual environments
# -------------------------------
venv/
etl/venv/

# -------------------------------
# 📦 Build artifacts
# -------------------------------
build/
dist/

# -------------------------------
# 🔐 Environment & secrets
# -------------------------------
.env
.env.*
*.env.local
*.env.override
!example.env

# -------------------------------
# ⚙️ Docker
# -------------------------------
docker-compose.override.yml
*.pid

# -------------------------------
# 🧾 Logs & outputs
# -------------------------------
logs/
*.log
*.out
*.err

# -------------------------------
# 🌬 Airflow
# -------------------------------
airflow/logs/
airflow/*.db
airflow/webserver_config.py

# -------------------------------
# 💻 IDEs / Editors
# -------------------------------
.vscode/
.idea/
*.swp

# -------------------------------
# 🍏 MacOS / Windows
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# 🔒 Certificates / Backups
# -------------------------------
*.key
*.pem
*.crt
*.bak
page_dump.html
