# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.db

# Virtual environment
venv/
.env

# VSCode / IDEs
.vscode/
.idea/

# Docker
*.env.local
*.env.override
docker-compose.override.yml

# Logs
logs/
*.log

# MacOS
.DS_Store

# Ignore sensitive or large files
*.key
*.pem
*.crt
*.bak
