#docker-compose.yml
services:
  postgres:
    image: postgres:16
    container_name: etl_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: Aliyev_user
      POSTGRES_PASSWORD: EtlpostgresBlack1002025Xyz
      POSTGRES_DB: etlserver_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U Aliyev_user -d etlserver_db"]
      interval: 10s
      retries: 5
    networks:
      - etl_net

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: etl_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@aliyev.com
      PGADMIN_DEFAULT_PASSWORD: Aliyev
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - etl_net

volumes:
  postgres_data:
  pgadmin_data:

networks:
  etl_net:
    external: true
