#docker-compose.rabbitmq.yml
services:
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: aliyev.user
      RABBITMQ_DEFAULT_PASS: EtlRabbitBlack1002025Xyz
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - etl_net
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:

networks:
  etl_net:
    external: true
