# Core dependencies
psycopg[binary]==3.2.1
selenium==4.25.0
python-dotenv==1.0.1
pika==1.3.2

# Optional (stealth & compatibility)
undetected-chromedriver==3.5.5

# Async & utils
requests==2.32.3
beautifulsoup4==4.12.3

# Dev tools
setuptools==70.1.1